<div id="parent">
<div class="child">

<u><b><h2>Angular Tables & Pipes</h2></b></u>

<br>

Username: <input type="text" class="Black" #username> <br><br>
CreditCard Number: <input type="number" class="Black" #userccno> <br><br>
Phone Number: <input type="number" class="Black" #userphno> <br><br>
Price: <input type="number" class="Black" #userprice><br><br>



<button class="btn btn-success" (click)="AddUser(username.value,userccno.value,userphno.value,userprice.value)">Add User</button>
<br>

<div  class="SearchDiv">

    <h3><u><i>Search Content</i></u></h3><br>

<select class="Black" [(ngModel)]="SearchValue">
    <option class="Black" value="None">--None--</option>
    <option class="Black" value="Name">Name</option>
    <option class="Black" value="Phone No">Phone No</option>
    <option class="Black" value="CreditCard No">CreditCard No</option>
    <option class="Black" value="Price">Price</option>
</select>
<br>

<div [ngSwitch]="SearchValue">

<div *ngSwitchCase="'Phone No'"><br>
    Phone No: <input type="number" [(ngModel)]="textboxValue" class="Black">
</div>

<div *ngSwitchCase="'CreditCard No'"><br>
    CreditCard No: <input type="number" [(ngModel)]="textboxValue" class="Black">
</div>

<div *ngSwitchCase="'Price'"><br>
    Price: <input type="number" [(ngModel)]="textboxValue" class="Black">
</div>

<div *ngSwitchCase="'Name'"><br>
    Name: <input type="text" [(ngModel)]="textboxValue" class="Black">
</div>

</div>

</div>
<br>

<h3><u><i>Table Details</i></u></h3><br>

<div class="table">

<table>

   <tr>
       <th>Serial No</th>
       <th>Name</th>
       <th>Ph No</th>
       <th>CC No</th>
       <th>Price</th>
       <th>Edit / Delete</th>
   </tr>

   <tr *ngFor="let SearchVal of tableArr | filterArray: SearchValue : textboxValue ;index as indexval">
    <td> {{indexval+1}} </td>
    <td>{{SearchVal.name | CamelCase }}</td>
    <td>{{SearchVal.phno}}</td>
    <td>{{SearchVal.creditnum}}</td>
    <td> {{SearchVal.price | currency}} </td>
    <td>&nbsp;<input type="button" class="btn btn-warning" [disabled]="EditIsDisabled" value="Edit" (click)="Edit(indexval)"> &nbsp; 
        <input type="button" class="btn btn-danger" value="Delete" (click) = "Delete(indexval)"> </td>


   </tr>

</table>

</div>

<br><br>

<div class="EditDiv" *ngIf="tempArr.length==1">

<div class="UpdateDetails" *ngFor="let UserInp of tempArr;index as ind">
    Username: <input type="text" style="color: black;" [value] = "UserInp.name" #updateName > <br><br>
    Phone Number: <input type="text" style="color: black;" [value] = "UserInp.phno" #updateCcno > <br><br>
    CreditCard Number: <input type="text" style="color: black;" [value] = "UserInp.creditnum" #updatePhno > <br><br>
    Price: <input type="text" style="color: black;" [value] = "UserInp.price" #updatePrice><br><br>
    <input type="button" class="btn btn-info" value="Update" 
    (click)="Update(updateName.value,updateCcno.value,updatePhno.value,updatePrice.value)">
    

</div>
</div>

</div>

</div>